@page "/about"
@using JosephHungerman.Shared.Models.Enums
@using JosephHungerman.UI.Shared.Components
<PageTitle>About</PageTitle>

<QuoteBlock PageType="PageType.About" />

<div class="container min-vh-90">
    @if (_isLoading)
    {
        <LoadingPlaceholder/>
    }
    else
    {
        @if (Sections != null)
        {
            @foreach (var aboutSection in Sections)
            {
                <section class="container-fluid mt-2">
                    <h4>@aboutSection.Title</h4>
                    @if (aboutSection.Paragraphs != null)
                    {
                        foreach (var paragraph in aboutSection.Paragraphs)
                        {
                            <br/>
                            <p>@paragraph.Content</p>
                        }
                    }
                </section>
            }
        }
    }
</div>
