@page "/contact"
@using JosephHungerman.Shared.Models.Enums

<PageTitle>Contact</PageTitle>

<QuoteBlock PageType="PageType.Contact" />

<div class="container">
    <EditForm Model="_message" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mt-3 row">
            <div class="col-6 form-floating">
                <InputText id="firstName" class="form-control" @bind-Value="_message.FirstName" placeholder="name"/>
                <label for="firstName" class="text-muted input-label">First Name *</label>
            </div>
            <div class="col-6 form-floating">
                <InputText id="lastName" class="form-control" @bind-Value="_message.LastName" placeholder="name" />
                <label for="lastName" class="text-muted input-label">Last Name *</label>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-12 form-floating">
                <InputText id="email" class="form-control" @bind-Value="_message.Email" placeholder="Email"/>
                <label for="email" class="text-muted input-label">Email *</label>
            </div>
        </div>
        <div class="mt-1 row">
            <p class="form-text ps-4"><em>I will not share your email with anyone</em></p>
        </div>
        <div class="mt-3 row">
            <div class="col-12 form-floating">
                <InputText id="subject" class="form-control" @bind-Value="_message.Subject" placeholder="Subject" />
                <label for="subject" class="text-muted input-label">Subject *</label>
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-12 form-floating">
                <InputTextArea rows="5" id="detail" class="form-control h-100" @bind-Value="_message.Detail" placeholder="Write your message here..." />
                <label for="detail" class="text-muted input-label">Write your message here... *</label>
            </div>
        </div>
        <div class="container d-flex flex-column align-items-end p-0">
            <div class="my-1" id="g-recaptcha"></div>
            <button id="submit_form" type="submit" class="btn btn-primary ms-1" disabled>Submit</button>
        </div>
    </EditForm>
</div>
