@page "/"
@inject IToastService toastService
@using JosephHungerman.Shared.Models.Enums
@using JosephHungerman.UI.Services.Toast
@using JosephHungerman.UI.Shared.Enums

<PageTitle>Joseph Hungerman</PageTitle>

<QuoteBlock PageType="PageType.Home" />
<div class="container min-vh-90 p-0 m-0">
    <figure class="d-inline-block">
        <img src="/img/cristian-cristian-0JIX8f2AoG4-unsplash.jpg" alt="Workspace Image by Cristian Cristian" id="homeImage" />
        <figcaption id="homeCaption">Photo by Cristian Cristian on Unsplash</figcaption>
    </figure>
</div>
