<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">
            <NavLink class="navbar-brand border-2" href="" Match="NavLinkMatch.All">
                <h2 class="text-dark">J|H</h2>
            </NavLink>
            <NavToggler />
            <NavContent />
        </div>
    </nav>
</header>
