footer {
    position: relative;
    bottom: 0;
    background-color: white;
    margin-top: 1em;
}

#jacaruTechCopy {
    font-family: 'Source Code Pro'!important;
}

@media only screen and (max-width: 360px) {
    #nameCopy {
        display: none;
    }

}


@media only screen and (max-width: 819px) {
    #backendCopy { display: none; }
}
