<footer class="border-top text-muted container-fluid footer">
    <table class="w-100 h-100 table table-responsive mb-0" role="grid">
        <tr class="border-0 border-white">
            <td class="col-3 align-middle text-center text-lg-start">
                <h6 class="d-block"><strong class="text-black">&copy; 2022 <span id="nameCopy">- Joseph Hungerman</span></strong></h6>
            </td>
            <td class="col-3 align-middle text-center">
                <h6><span id="backendCopy">Backend design by </span><span id="jacaruTechCopy">JACARU{<strong>TECH</strong>}</span></h6>
            </td>
            <td class="col-3 text-end align-middle text-lg-end">
                <a class="btn btn-primary my-auto me-4 me-lg-1" href="https://www.linkedin.com/in/joseph-hungerman-csm-66468842" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </td>
        </tr>
    </table>
</footer>

