            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="d-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="">
                                .home
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="about">
                                .about
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="skills">
                                .skills
                            </NavLink>
                        </li>
                        <li class="nav-item dropdown">
                            <NavLink class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdownMenuLink">
                                .work
                            </NavLink>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <div>
                                        <NavLink class="dropdown-item text-black" href="resume"><i class="fas fa-file me-2"></i><span>Resume</span></NavLink>
                                    </div>
                                </li>
                                <li><a class="dropdown-item text-black" href="https://dev.azure.com/Jacaru/Joseph%20Hungerman%20Portfolio/" target="_blank"><img src="/img/devops.png" class="img-fluid me-1" id="devops" />Azure Repos</a></li>
                                <li><a class="dropdown-item text-black" href="https://github.com/jhungerman" target="_blank"><i class="fa-brands fa-github me-1"></i>GitHub Repos</a></li>
                                <li><a class="dropdown-item text-black" href="https://www.jacaruco.com" target="_blank"><i class="fa-brands fa-chrome me-1"></i>Jacaru Co Website</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="contact">
                                .contact
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
