@if (QuoteService.Quotes == null || !QuoteService.Quotes.Any())
{
    <span>Loading...</span>
}
else
{
    <ul>
        @foreach (var quote in QuoteService.Quotes)
        {
            <li>@quote.Text</li>
        }
    </ul>
}
